<!DOCTYPE html>
<html>
<head>
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!--import default Affectiva CSS code-->
<!--    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />-->
<!--    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />-->

    <!--import custom CSS-->
    <link rel="stylesheet" href="style.css">

    <!--import Affectiva javascript support-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://download.affectiva.com/js/3.2/affdex.js"></script>
    
</head>
<body>

    
    <!-- the entire window container -->
    <div class="container-fluid">


    <!--START: container for top half of window; goes from above the start/stop/reset buttons to the top of screen -->
    <div class="row">

        
        <div class="top center">

                <!-- div where images will be shown -->
                <div class="center" id="images">
                    <div>
                        <img src="data/age.jpg">
                   </div>
                   <div>
                       <img src="data/fearedLoved.jpg">
                   </div>
                   <div>
                       <img src="data/insideJoke.jpg">
                   </div>
                   <div>
                       <img src="data/internetexplorer.jpg">
                   </div>

                </div>

            </div>
        
        
        
        <div class="col-md-8">

            
<!--            If we want to use a video instead-->
<!--            <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/2eHNr8XnXaI?rel=0" frameborder="0" allow="autoplay; encrypted-media"></iframe>-->
        
        </div>
        <!-- "emotion tracking results" and "deStector log msgs" container -->
        <div class="right-box">

        <!-- "emotion tracking results" container: title & results -->
        <div style="height:20em;"> <!-- height controls the height of the emotion tracking results container -->
            <strong>EMOTION TRACKING RESULTS</strong>
            <!-- subcontainer that displays the detected emotions -->
            <div id="results" style="word-wrap:break-word;"></div>
        </div>

            <!-- camera container: col-md-8 (child) & affdex_elements (parent selector) -->
            <div class="col-md-8" id="affdex_elements" style="width:170px;height:120px;"></div>

        </div>
        <!-- END of RIGHT SIDE container– the emotion tracking results and detector log msgs -->

        </div>
        <!-- END of UPPER SCREEN container– camera & logs -->

            <div class="bottom center">
                <button class="center" id="button" onclick="onStart()">Start</button>
                <br><br>
                <div class="progress-bar center"></div>
            </div>
        <br>
        <br>

    <!-- END: BOTTOM half of SCREEN container -->
    
    <!-- Contain the text for the game -->
        <div id="game">
            <p class="gameText" id="serious"><strong>Why so serious?</strong></p>
            <p class="gameText" id="happy"><strong>Good to see you are in a good mood</strong></p>
            <p class="gameText" id="notHappy"><strong>Hey let me cheer you up!</strong></p>
        </div>
    </div>
    <!-- END: ENTIRE SCREEN container -->

    
<script src="script.js"></script>
</body>
</html>