body {
    background-color: #a4aa6f;
}

div {
	/*
	border-style: solid;
	border-width: 4px;
	border-color: blue; */
	background-color: #d8ddd8;
}

h1 {
	
}

.log {
	display: block;
	text-align: center;
	padding: 4px;
	border: 8px;
}

.top {
	padding: 15px;
	position: relative;
	height: 60%;
	width: auto;
}

.bottom {
	border-top: 20px;
	padding: 5px;
	height: 100px;
	width: auto;
}
#images {
	visibility: hidden;
	-webkit-transition: all 2s; /* Safari */
    transition: all 2s;
	height: 440px;
	width: 640px;
}

#images > div {
	/* border-color: grey; */
	position: absolute;
	height: 480px;
	width: 640px;
}

div.window-full {
       position: absolute;
       top: 10px; /* Header Height */
       bottom: 20px;
       width: 98%;
       height: 95%;
       /* border-color: red; */
}

#button {
	position: relative;
	background-color: #ccd297;
	color: black;
	border-radius: 10%;
	font-size: 25px;
	padding: 10px 30px;
	display: block;
	-webkit-transition: all 2s; /* Safari */
    transition: all 2s;
}

#button:hover {
	background-color: #b1ba5e;
	box-shadow: 5px 2px 5px grey;
}

div.progress-bar {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	background-color: white;
	top: 40px;
	height: 20px;
	width: 404px;
	display: block;
}

#score-counter {
	background-color: blue;
	float: left;
	top: 40px;
	height: 80%;
	width: 0px;
	padding: 2px;
	-webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#camera { 
	position: absolute;
	z-index: -1;
}

.center {
     margin: 0 auto;
}